.topBar {
    background-color: #26292e;
    align-items: center;
    justify-content: space-around;
}

.topBar button {
    padding: 0;
    border: none;
}

.topLogo {

}

.topNav button {
    background-color: #26292e;
}

.topNav {
    justify-items: end;
}

.topNav img {
    width: 80%;
}

@media (max-width: 576px) {
    .topLogo {
        text-align: center;
    }
    
    .topLogo img {
        width: 80%;
    }

}

/* START MAIN */

/* hero section */

.heroRow {
    background-color: #e7718b;
}

.heroRow button {
    background: rgb(45,44,44);
    background: linear-gradient(0deg, rgba(45,44,44,1) 30%, rgba(98,98,98,1) 75%);
    color: #ffffff;
}

.laptop {
    text-align: center;
}

.heroRow img {
    width: 85%;
}

.heroBtn button {
    border-radius: 8%;
}

@media (min-width: 768px) {
    .heroTop {
        padding-left: 3%;
    }
}

@media (min-width: 1440px) {
    .heroTop h4 {
        font-size: xx-large;
    }

    .heroTop p {
        font-size: x-large;
    }

    .heroBtn button {
        width: 55%;
        height: 40px;
        font-size: larger;
    }

}

@media (max-width: 576px) {

    .heroTop {
        margin-left: 2%;
    }

    .heroRow h4 {
        text-align: center;
    }

    .heroBtn {
        justify-self: center;
        width: 102%;
    }

}

/* mid section */

.midSection {
    background-color: #f4f4f6;
}

.middleRow {
    border-bottom: 3px solid #e7718b;
}

.midSection h4 {
    color: #717173;
}

.midSection p {
    color: #ceced0;
}

@media (min-width: 1440px) {
    .midSection h4 {
        font-size: xx-large;
    }

    .midSection p {
        font-size: x-large;
        line-height: 150%;
    }
}

/* bottom section */

.authorName {
    font-weight: bold;
}

.bottomRow p {
    font-size: large;
}

.botRight {
    padding-top: 5%;
}

@media (min-width: 1024px) {
    .botRight {
        padding-top: 0;
    }
}

@media (min-width: 1440px) {
    .botLeft h3 {
        font-size: xx-large;
        margin: 2% 0;
    }

    .botRight h3 {
        font-size: xx-large;
        margin: 4% 0;
    }

    .botRight p {
        font-size: x-large;
        line-height: 187%;
    }
}

@media (max-width: 576px) {

    .bottomRow h3 {
        text-align: center;
    }

}

/* footer */

footer {
    background-color: #26292e;
    color: #ffffff;
}

footer button {
    border: none;
    padding: 0;
}

.footCopy {
    text-align: center;
}

.footNav {
    text-align: center;
}

.footNav button {
    background-color: #26292e;
}

.footNav img {
    width: 80%;
    background-color: #26292e;
}

@media (min-width: 1440px) {
    footer {
        height: 60px;
        align-content: center;
    }

    footer p {
        font-size: larger;
    }

}